
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  body.printing > *:not(.print-invoice) {
    visibility: hidden;
  }

  body.printing .print-invoice {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
  
  .break-inside-avoid {
    page-break-inside: avoid;
  }

  @page {
    size: auto;
    margin: 0;
  }
}
