
@media print {
  body.printing > *:not(.print-invoice) {
    visibility: hidden;
  }

  body.printing .print-invoice {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: auto;
    margin: 0.5in;
  }
}
